.f-1{
    flex: 1 !important;
}
.f-2{
    flex: 2 !important;
}
.f-3{
    flex: 3 !important;
}
.f-4{
    flex: 4 !important;
}

.departemen-header-desc{
    font-size: 1.5rem;
    flex: 1;
    text-align: justify;
}

.departemen-header-img{
    flex: 3;
    text-align: right;
    position: relative;
}

.departemen-header-img img:nth-child(1){
    position: relative;
    object-fit: cover;
    width: 90%;
    height: 65vh;
    border: 5px solid black;
}   

.departemen-header-img img:nth-child(2){
    position: absolute;
    transform: scale(0.7);
    bottom: 1.5rem;
    right: 1rem;
}

#bg-img{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.header-container{
    width: inherit;
    height: inherit;
    position: relative;
    top: 2rem;
}

.flex-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    place-items: center;
    height: 100vh;
    position: relative;
    /* background-color: aqua; */
}

body>div{
    height: 100vh;
    width: 100%;
    position: relative;
}

#departemen-header{
    width: 100%;
    height: 100vh;
    position: absolute;
}

#departemen-carousel{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}   

#departemen-carousel .dots{
    margin-top: 1rem;
}

.foto-container{
    height: 80vh;
    width: 100%;
    border: 6px solid black;
    border-radius: 100px 0 0 0;
    overflow: hidden;
    margin: auto;
}

#departemen-carousel .carousel-item{
    height: 80vh;
    width: 70%;
    border: 6px solid black;
    border-radius: 100px 0 0 0;
    overflow: hidden;
    margin: auto;
}

#departemen-carousel .carousel-item img{
    width: 100%;
    height: 100%;
}

.container-isi{
    width: 80%;
    margin: 0 auto;
    display: flex;
    place-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
}

.content-window{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-content: center;
    place-items: center;
    margin: 2rem 0;
}

#bidang-keahlian .container-window{
    width: fit-content;
    height: fit-content;
    margin-top: 2.5 rem;
}

.content-window .carousel-item img{
    width: 25%;
}

.content-window .carousel-item{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.content-window .dots{
    margin-top: 1rem;
}

#img-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.section-container{
    width: 90%;
    height: 100vh;
    position: relative;
}

.image-part img:nth-child(1){
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 65vh;
    border: 5px solid black;
}   

.image-part img:nth-child(2){
    position: absolute;
    transform: scale(0.7);
    bottom: 1.5rem;
    right: 1rem;
}

@media only screen and (max-width: 867px){   
    #header{
        height: 100%;
    }

    #header #departemen-header{
        height: 100%;
    }

    #carousel-departemen #bg-img{
        height: 100.64%;
    }

    .header-container{
        top: 8rem;
    }
    
    .flex-container{
        height: auto;
        flex-direction: column;
        /* background-color: aqua; */
        padding-bottom: 230px;
    }

    #departemen-carousel .carousel-item{
        height: 50vh;
        width: 80%;
        border: 6px solid black;
        border-radius: 100px 0 0 0;
        overflow: hidden;
        margin: auto;
    }
    
    .fasilitas-header-img{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .fasilitas-header-desc{
        text-align: center;
        width: 100%;
    }
}